<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>[% title %]</title>
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Reply-to" content="webmaster@suncoastlug.org" />
		<meta name="Keywords" content="linux, suncoast, user group, lug"  />
		<meta name="Copyright" content="1997-2007 Suncoast Linux Users Group" />
		<meta name="Author" content="Paul M. Foster" />
		<meta name="description" content="Homepage of Suncoast Linux Users Group (SLUG)" />

		<link rel="stylesheet" href="slug.css" type="text/css" />
	</head>
<body>
	<div id="wrap">
		<div id="header">
			<div id="logo">
				<img src="slug.gif" alt="The Official SLUG Logo" />
			</div>
			<div id="title">
				[% title %]
			</div>
		</div>
		<div id="sidebar">
			<ul id="navlist">
				<li><a href="./index.html">Home</a></li>
				<li><a href="./history.html">History</a></li>
				<li><a href="./join.html">Join&nbsp;Us</a></li>
				<li><a href="./treasury.html">Treasury</a></li>
				<li><a href="./meetings.html">Meetings</a></li>
				<li><a href="./lists.html">Lists</a></li>
				<li><a href="./officers.html">Officers</a></li>
				<li><a href="./bylaws.html">Bylaws</a></li>
				<li><a href="./faq.html">FAQ</a></li>
				<li><a href="./links.html">Links</a></li>
				<li><a href="./definitions.html">Definitions</a></li>
				<li><a href="./opensource.html">Open&nbsp;Source</a></li>
				<li><a href="./books.html">Books</a></li>
				<li><a href="./sponsors.html">Sponsors</a></li>
				<li><a href="./email.html">Email</a></li>
				<li><a href="./proscons.html">Pros&nbsp;&amp;&nbsp;Cons</a></li>
				<li><a href="./jobs.html">Jobs</a></li>
				<li><a href="./forsale.html">For&nbsp;Sale</a></li>
				<li><a href="./helpers.html">Helpers</a></li>
			</ul>

			<ul id="navlist">
				<li><a href="http://www.linux.org" target="_blank">Linux.org</a></li>
				<li><a href="http://www.linux.com">Linux.com</a></li>
				<li><a href="http://www.lwn.net">Linux&nbsp;World&nbsp;News</a></li>
				<li><a href="http://www.slashdot.org">Slashdot</a></li>
				<li><a href="http://www.freshmeat.net">Freshmeat</a></li>
				<li><a href="http://www.kernel.org">Kernel.org</a></li>
			</ul>

			<ul id="navlist">
				<li><a href="http://www.linuxjournal.com">Linux&nbsp;Journal</a></li>
				<li><a href="http://www.linux-mag.com">Linux&nbsp;Magazine</a></li>
				<li><a href="http://www.linuxgazette.net">Linux&nbsp;Gazette</a></li>
				<li><a href="http://www.linux.com">Linux.com</a></li>
				<li><a href="http://www.linxuformat.co.uk">Linux&nbsp;Format</a></li>
			</ul>

			<ul id="navlist">
				<li><a href="http://www.cheapbytes.com">CheapBytes</a></li>
				<li><a href="http://www.linuxcentral.com">Linux&nbsp;Central</a></li>
				<li><a href="http://www.linuxcd.org">Linux&nbsp;CD</a></li>
				<li><a href="http://www.osdisc.com">OS&nbsp;Disc</a></li>
			</ul>

			<ul id="navlist">
				<li><a href="http://www.debian.org">Debian</a></li>
				<li><a href="http://www.mandriva.com">Mandriva</a></li>
				<li><a href="http://www.redhat.com">Red Hat</a></li>
				<li><a href="http://www.slackware.org">Slackware</a></li>
				<li><a href="http://www.novell.com/linux">SUSE&nbsp;Linux</a></li>
				<li><a href="http://www.turbolinux.com">Turbo&nbsp;Linux</a></li>
				<li><a href="http://www.knopper.net/knoppix/index-en.html">Knoppix</a></li>
				<li><a href="http://www.mepis.org">Mepis</a></li>
				<li><a href="http://www.ubuntu.com">Ubuntu</a></li>
				<li><a href="http://www.distrowatch.com">DistroWatch</a></li>
			</ul>

			<!--end sidebar-->
		</div>

		<div id="container">
			[% content %]
		</div>

		<div id="footer">  <br />
			<a href="./snags.html">Problems or comments?</a><br>
			Version 6.0 Last Updated 17 June 2010<br>
			Copyright &copy; 1997-2010 by Suncoast Linux Users Group (SLUG)<br>
			Linux is a trademark of Linus Torvalds<br>
			<!-- Open Source is a registered certification mark of the <a href="http://www.opensource.org">Open Source Initiative, Inc.</a><br> -->
			CSS by <a href="http://www.dream-logic.com">dreamLogic</a><br>
		</div>

	<!-- end wrap-->
	</div>
</body>
</html>
